:root,
:root.redTheme {
  --btnColor: #6d6d6d;
  --btnActiveColor: #606060;
  --operationButton: #dc143c;
  --operationActiveButton: #c91233;
  --acButtonColor: #494949;
  --acButtonActiveColor: #3f3f3f;
  --calcBodyColor: #aa0d2a;
  --textColor: #ffffff;
}

:root.orangeTheme {
    --btnColor: #d6d6d6;
    --btnActiveColor: #cecece;
    --operationButton: #ffa500;
    --operationActiveButton: #e79600;
    --acButtonColor: #b6b6b6;
    --acButtonActiveColor: #acacac;
    --calcBodyColor: #d18800;
    --textColor: #000000;
}

:root.yellowTheme {
    --btnColor: #cacaca;
    --btnActiveColor: #c4c3c3;
  --operationButton: #ffff00;
  --operationActiveButton: #c91233;
  --acButtonColor: #b6b6b6;
  --acButtonActiveColor: #acacac;
  --calcBodyColor: #e0e009;
  --textColor: #000000;
}

:root.greenTheme {
    --btnColor: #d6d6d6;
    --btnActiveColor: #cecece;
    --operationButton: #00ff00;
    --operationActiveButton: #c91233;
    --acButtonColor: #aaaaaa;
    --acButtonActiveColor: #9b9b9b;
    --calcBodyColor: #00bb00;
    --textColor: #000000;
}

:root.blueTheme {
    --btnColor: #6d6d6d;
    --btnActiveColor: #606060;
    --operationButton: #005ae2;
    --operationActiveButton: #0058db;
    --acButtonColor: #494949;
    --acButtonActiveColor: #3f3f3f;
    --calcBodyColor: #00398f;
    --textColor: #ffffff;
}

:root.pinkTheme {
    --btnColor: #d6d6d6;
    --btnActiveColor: #cecece;
    --operationButton: #ffc0cb;
    --operationActiveButton: #d6a2aa;
    --acButtonColor: #aaaaaa;
    --acButtonActiveColor: #9b9b9b;
    --calcBodyColor: #e696a4;
    --textColor: #000000;
}


body {
    margin: 0px;
    background-color: #22272F;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    cursor: default;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size:7vw;
    color: var(--textColor);
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    cursor: default;
}

@media screen and (min-width: 450px) {
    span {
       font-size: 2.2rem;
    }
}

.calcBody {
    width: 90vw;
    max-width: 400px;
    margin: 10px auto;
    padding: 15px 20px;
    background-color: var(--calcBodyColor);
    border-radius: 25px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 600px) {
    .calcBody {
        padding: 10px 15px;
    }
}

.inputContainer {
    max-width: 400px;
    margin: 10px auto;
    box-sizing: border-box;
    height: 75px;
    background-color: #303030;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    direction: rtl;
    text-align: right;
    padding: 5px 20px;
    font-size: 50px;
}

.inputContainer::-webkit-scrollbar {
    height: 7px;
}
  
.inputContainer::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
.inputContainer::-webkit-scrollbar-thumb {
    background: #888;
}
  
.inputContainer::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#input {
    direction: ltr;
    color: #ffffff;
}

.row {
    max-width: 500px;
    margin: 10px auto;
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(5, minmax(1px,16vw));
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22vw;
    max-height: 5.5rem;
    background-color: var(--btnColor);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}

.operationButton {
    background-color: var(--operationButton);
}

.acButton {
    background-color: var(--acButtonColor);
}

.operationButton:active {
    background-color: var(--operationActiveButton) !important;
}

.acButton:active {
    background-color: var(--acButtonActiveColor) !important;
}

.button:active {
    transform: scale(0.97);
    background-color: var(--btnActiveColor);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.themesRow {
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.themeBtn {
    width: 45px;
    height: 45px;
    margin: 7px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition-duration: 0.35s;
    transition-property: transform;
}

.themeBtn:hover {
    transform: scale(1.05);
}

#redTheme {
    background: linear-gradient(to right, #c91233 0%,#c91233 50%,#aa0d2a 51%,#aa0d2a 100%);
}

#orangeTheme {
    background: linear-gradient(to right, #ffa500 0%,#ffa500 50%,#d18800 51%,#d18800 100%);
}

#yellowTheme {
    background: linear-gradient(to right, #ffff00 0%,#ffff00 50%,#e0e009 51%,#e0e009 100%);
}

#greenTheme {
    background: linear-gradient(to right, #00ff00 0%,#00ff00 50%,#00cc00 51%,#00cc00 100%);
}

#blueTheme {
    background: linear-gradient(to right, #005ae2 0%,#005ae2 50%,#00398f 51%,#00398f 100%);
}

#pinkTheme {
    background: linear-gradient(to right, #ffc0cb 0%,#ffc0cb 50%,#e696a4 51%,#e696a4 100%);
}

.activeTheme {
    outline: 3px solid;
}